body
{
  font-family: 'PT Serif', serif;
}
header
{
  background: url('../images/alaska.jpg') no-repeat center;
  height: 400px;
  width: 100%;
  background-size: cover;
  text-align: center;
  position: relative;
}
#title
{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  color: white;
  background-color: rgba(0,0,0,0.3);
  font-family: 'Spectral SC', serif;
  text-shadow: 2px 2px 2px black;
}
.navbar
{
  border-radius: 0;
  display: flex;
}
.nav li
{
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.2em;
}
#nav-hamburger
{
  display: none;
}
#avatar-Forteroche
{
  background: url('../images/profil1.jpg') no-repeat top;
  background-size: cover;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: auto;
  margin-top: 50px;
}
#presentation
{
  margin-top: 50px;
  text-align: center;
}
#quote
{
  font-style: italic;
  font-weight: bold;
}
#lastChapters
{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
#lastPosts
{
  margin: auto;
  max-width: 1800px;
  display: flex;
  justify-content: space-around;
}
.postHome
{
  border: 1px solid #c4c5ca;
  border-radius: 5px;
  text-align: center;
  max-width: 475px;
}

.buttonNext
{
  background-color: #222222;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 200px;
  height: 40px;
}
.btn:hover
{
  color: #c4c5ca;
}
footer
{
  height: 150px;
  background-color: #222222;
  margin-top: 100px;
  color: white;
  font-family: 'Spectral SC', serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.social-media
{
  display: flex;
  justify-content: space-around;
  width: 150px;
}
.social-media a
{
  text-decoration: none;
  color: white;
}
#container
{
  width: 960px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.chapters
{
  width: 480px;
  margin: auto;
  margin-bottom: 50px;
  padding-bottom: 20px;
  text-align: center;
  border: 3px solid #c4c5ca;
  border-bottom: 5px solid #222222;
}
.chaptersHidden
{
  display: none;
}
#widget
{
  width: 350px;
}
#search
{
  display: flex;
  padding: 25px;
  margin: auto;
  border: 3px solid #c4c5ca;
  border-bottom: 5px solid #222222;
  align-items: center;
  margin-bottom: 50px;
}
#buttonSearch
{
  border-radius: 5px;
}
#about
{
  border: 3px solid #c4c5ca;
  border-bottom: 5px solid #222222;
  padding-left: 25px;
  padding-right: 25px;
  text-align: justify;
  padding-bottom: 25px;
  margin-bottom: 50px;
}
#follow
{
  border: 3px solid #c4c5ca;
  border-bottom: 5px solid #222222;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  margin-bottom: 50px;
}
#follow a
{
  text-decoration: none;
  color: #222222;
  margin-right: 50px;
}
#btnMoreChapters
{
  text-align: center;
}
#more_chapters
{
  background-color: #222222;
  color: white;
  font-size: 1.5em;
}
#contact_container
{
  width: 500px;
  margin: auto;
  margin-top: 50px;
}
#success
{
  margin-top:20px;
}
#chapter_container
{
  width: 960px;
  margin: auto;
  text-align: justify;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 3px solid #c4c5ca;
  border-top: 5px solid #222222;
  box-shadow: 0px 2px 2px #c4c5ca;
}
#chapter_container h2
{
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}
#p_italic
{
  text-align: center;
  margin-bottom: 25px;
}
#chapter_container p
{
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 25px;
}
#comment_container
{
  border-top: 5px solid #222222;
  width: 960px;
  margin: auto;
  padding: 25px;
}
.comments
{
  border: 1px solid #c4c5ca;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
#admin_container
{
  text-align: center;
  margin-top: 50px;
}
#chapter_admin_container
{
  display: flex;
  justify-content: space-around;
}
.chapter_admin
{
  border: 1px solid #c4c5ca;
  width: 30%;
  margin-top: 50px;
  padding: 10px;
  border-radius: 5px;
}
#createChapter, #editChapter
{
  width: 960px;
  margin: auto;
}
.comment_admin
{
  border: 1px solid #c4c5ca;
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
}
#commentAdmin
{
  width: 960px;
  margin: auto;
  min-height: 200px;
}
@media screen and (max-width: 1200px) {
  .postHome
  {
    max-width: 350px;
  }
}
@media screen and (max-width: 992px) {
  #lastPosts
  {
    flex-direction: column;
    align-items: center;
  }
  .postHome
  {
    margin-bottom: 50px;
    max-width: 475px;
  }
}
@media screen and (max-width: 768px) {
  .nav
  {
    display: flex;
  }
}
@media screen and (max-width: 576px) {
  .navbar
  {
    position: relative;
  }
  #nav-hamburger
  {
    display: inline-block;
    display: flex;
    align-items: center;
    list-style-type: none;
    position: absolute;
    right: 0;
    margin-right: 5px;
    padding: 10px;
    cursor: pointer;
  }
  .nav
  {
    display: none;
  }
}
