body
{
  font-family: 'PT Serif', serif;
}
header
{
  background: url('../images/alaska.jpg') no-repeat center;
  height: 400px;
  width: 100%;
  background-size: cover;
  text-align: center;
  position: relative;
}
#title
{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  color: white;
  background-color: rgba(0,0,0,0.3);
  font-family: 'Spectral SC', serif;
  text-shadow: 2px 2px 2px black;
}
.navbar
{
  border-radius: 0;
  display: flex;
}
.nav li
{
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.2em;
}
#avatar-Forteroche
{
  background: url('../images/profil1.jpg') no-repeat top;
  background-size: cover;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: auto;
  margin-top: 50px;
}
#presentation
{
  margin-top: 50px;
  text-align: center;
}
#quote
{
  font-style: italic;
  font-weight: bold;
}
#lastChapters
{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
#lastPosts
{
  margin: auto;
  width: 1900px;
  display: flex;
  justify-content: space-around;
}
.postHome
{
  border: 1px solid #222222;
  width: 500px;
  border-radius: 5px;
  text-align: center;
}
.btn
{
  background-color: #222222;
  color: white;
  margin-top: 10px;
  width: 200px;
  height: 40px;
}
.btn:hover
{
  color: #c4c5ca;
}
footer
{
  height: 150px;
  background-color: #222222;
  margin-top: 100px;
  color: white;
  font-family: 'Spectral SC', serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.social-media
{
  display: flex;
  justify-content: space-around;
  width: 150px;
}
.social-media a
{
  text-decoration: none;
  color: white;
}
